.navigation {
     margin-top: 0;
     margin-bottom: 0;
     height: 8vh !important;
     overflow: 0;
     display: flex;
     justify-content: space-between;
}

.footer {
     top: auto !important;
     bottom: 0 !important;
     height: calc(8vh) !important;
     background-color: rgb(75, 156, 211);
     position: fixed;
     width: 100%;
}

.pages {
     margin-top: calc(8vh);
     min-height: calc(83vh);
}

.links_container {
     display: flex;
     align-content: center;
}

.navbar_link {
     position: relative;
     text-decoration: none;
     display: inline-block;
     color: inherit;
     padding: 20px 16px;
     transition: color ease 0.3s;
}

.navbar_link::after {
     content: "";
     position: absolute;
     z-index: -1;
     width: 100%;
     height: 5%;
     left: 0;
     bottom: 0;
     background-color: rgb(75, 156, 211);
     transition: all ease 0.3s;
}

.navbar_link:hover {
     color: white;
}

.navbar_link:hover::after {
     height: 100%;
}
